html {
    font-size: 62.5%;
}

/*
    Header
 */

#logo {
    color: #ff0000;
    font-size: 3.5rem;
}



header {
    position: relative;
    padding-bottom: 10vh;
    background-size: cover;
    background-position: center center;
}

.form_header {
    font-size: 1.8rem;
}
.form_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_body input, textarea {
    height: 45px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-color: #DDD;
    color: white;
    font-size: 1.7rem;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 850px;
    margin-bottom: 20px;
    margin-left: 150px;
}
textarea{
    height: 150px;
}
.form_body button {
    height: 100%;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    width: 200px;
    font-size: 2.2rem;
}


#footer_link li {
    padding: 10px 0 10px 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#hexagon {
    width: 300px;
    height: 200px;
    background: red;
    position: relative;
}
#magnifying-glass {
    font-size: 60em;
    display: inline-block;
    width: 0.4em;
    box-sizing: content-box;
    height: 0.4em;
    border: 0.1em solid red;
    position: relative;
    border-radius: 0.35em;
    align-items: end;
}
#magnifying-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: red;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
}

#about_header_content, #contact_header_content {

    justify-content: center;
    background-image: url("../images/auther_background.png");
    background-repeat: repeat-x;
}

#about_header_content div{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}



a {
    text-decoration: none;
    color: #ffffff;
}

#about_header_content h2 {
    font-size: 2.3rem ;
    color: #ffffff;
}

#about_header_content p {
    font-size: 1.8rem;
}

#info_container {
    width: 650px;
    padding-bottom: 50px;
    line-height: 1.7;

}

#info_container_image {
    max-width: 400px;
    position: relative;
    left: 0;
}

#info_container_image img {
    width: 400px;
    /*background-color: #222;*/
    border-radius: 10px;
}

#img_container {
    padding-left: 100px;
}

#img_container img {
    height: 600px;
}
#organizing_committee_img {
    width: 650px;
    height: 470px;
}

#scientific_committee_img {
    width: 550px;
    height: 370px;
}

#accepted_paper_img {
    width: 550px;
    height: 370px;
}

#title {
    line-height: 1;
    padding: 0 100px 0 100px;
}

#content{
    padding: 0 100px 0 100px;
}

#scientific_committee {
    display: flex;
    padding: 10px 30px 10px 30px;
    /*border-top: 8px solid #222;*/
    /*border-bottom: 8px solid #222;*/
    justify-content: center;
    background-image: url("../images/auther_background.png");
    background-repeat: repeat-x;
}

#contact_header_content div{
    line-height: 1.7;
    padding: 30px 1000px 50px 100px;
}

#contact_header_content{
    display: flex;
    justify-content: space-between;
}

#contact_header_content h2{
    font-size: 3.9rem;
}

IoLocation {
    size: 3.9rem;
}






