@font-face {
    font-family: "Poppins";
    src: url("./Poppins/Poppins-ExtraLight.ttf") ;
}
html {
    font-size: 62.5%;
    height: 100vh;
}
.App, #root{
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000;
    font-family: "Poppins", serif;
    font-size: 1.6rem;
    color: #ffffff;
    width: 100vw;
}
/*
    Header
 */

#logo {
    color: #ff0000;
    font-size: 3.5rem;
}

#overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(4,4,4,1) 0%, rgba(4,4,4,0.1545211834733893) 39%, rgba(0,0,0,0) 100%);
    z-index: 0;
}


header {
    position: relative;
    padding-bottom: 10vh;
    background-size: cover;
    height: 52vw;
    width: 100vw;
    top: -123px;
    background-image: url("../images/ai-006.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

#header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    z-index: 0;
}
#header_content h1 {
    font-size: 6rem;
    margin-bottom: 15px;
    margin-top: 0;
}
#header_content_subtitle {
    font-size: 5rem;
    margin-top: 0;
}
.form_header {
    font-size: 1.8rem;
}
nav {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    background-color: black;
    top: 0;
    z-index: 2;
}

#header_nav_link a{
    padding:  0 10px;
    transition: .5s;
    z-index: 2;
}
nav ul{
    padding: 0;
    float: right;
    margin-right: 30px;
}

nav ul li{
    background: #37185c;
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#header_nav_link a:hover {
    color: #ff0000;
    font-size: 1.8rem;
    z-index: 2;
}

#header_nav_link a:focus {
    color: #ff0000;
    font-size: 1.8rem;
    z-index: 2;
}

#header_nav_log {
    width: 120px;
}

#header_nav_actions select {
    border-color: #fff;
    background-color: transparent;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 2px;
    margin-right: 30px;
    font-size: 1.6rem;
}

#header_nav_actions a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 2px;
}

/*
    BODY
 */

#benefits_container section {
    display: flex;
    border-top: 8px solid #222;
    justify-content: center;
    padding: 50px 0 50px 0;
}

#benefits_container h2 {
    font-size: 4.8rem ;
    color: #ffffff;
}

#benefits_container p {
    font-size: 2.6rem;
}

#benefits_container img {
    padding-top: 12px;
}

#content_text{
    line-height: 1.8;
    font-size: 1.6rem;
}

.netflix_on_tv_section_img {
    margin-top: 20px;
    margin-left: 50px;
    max-width: 500px;
    max-height: 400px;
}

#benefits_container section div {
    width: 700px;
}

#netflix_on_tv_section img {
    max-width: 500px;
}

#last_section {
    border-bottom: 8px solid #222;

}

#scientific_data_img {
    max-width: 500px;
    max-height: 400px;
}
footer {
    margin: auto;
    max-width: 100%;
    padding: 50px 20px 20px 20px;
}

#footer_link {
    display: flex;
    justify-content: space-between;
}
#footer_link ul{
    list-style-type: none;
    padding: 50px 0 50px 0;
    margin: 0;
}
#footer_link li {
    padding: 10px 0 10px 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#fb{
    height: 25px;
    height: 25px;
}


#textAnim {
    font-size: 2.3rem;
}

#read_more a {
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 2px;
}

form {
    width: 100%;
}

.logoOrganizing{
   margin: 0 30px 0 30px;
}

#conferenceText{
    width: 65%;
}
#logoUVCI{
    height: 80px;
    width: auto;
}

nav .menu-hamburger{
    display: none;
    position: absolute;
    width: 50px;
    top: 0px;
    right: 0px;
}

@media  screen and (max-width: 900px) {

    .App, #root{
        width: 100vw;
    }
    body{
        padding: 0;
        margin: 0;
    }
    nav{
        background-color: black;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 0;
    }
    nav .menu-hamburger{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }
    nav div {
        background-color: black;
        backdrop-filter: blur(10px);
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 25px 0;
    }
    .link{
        margin: 25px 0;
        font-size: 2em;
    }
    #header_nav_link{
        justify-content: center;
        align-items: center;
    }
    #header_nav_log{
        justify-content: center;
        align-items: center;
    }
    #header_nav_actions{
        justify-content: center;
        align-items: center;
    }

    #overlay {
        height: 90vh;
        width: 100vw;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(4,4,4,1) 0%, rgba(4,4,4,0.1545211834733893) 39%, rgba(0,0,0,0) 100%);
        z-index: 0;
    }

    header {
        position: fixed;
        padding-bottom: 0;
        height: 100vh;
        width: 100%;
        top: -123px;
        background-image: url("../images/ai-006.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #header_content{
        display: flex;
        flex-direction: column;
        padding-top: 90px;

    }
    #header_content h1 {
        font-size: 3.6rem;
        margin-bottom: 15px;
        margin-top: 0;
    }
    #header_content_subtitle {
        font-size: 2.8rem;
        margin-top: 0;
    }
    .section-info{
        padding: 0 50px 0 50px;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    #benefits_container{
        padding: 20px;
    }
    #benefits_container section{
        padding: 0;
        margin: 0;
    }
    footer {
        margin: auto;
        padding: 50px  20px 20px;
    }
    #benefits_container section div {
        width: 100%
    }
    .netflix_on_tv_section_img{
        margin-top: 20px;
        margin-left: 0;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    div #content_text {
        margin-left: 0;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    .section-info, .section-info div{
        width: 100%;
    }
    #header_nav_actions a #read_more a{
        color: #ffffff;
        text-decoration: none;
        padding: 8px 14px;
        border-radius: 2px;
    }

}